$primary: red;
$font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// цвет склянки в дереве измерений и в диалоге AddMeasure / RenameMeasure
$flaskColor: rgba(0, 50, 120, 0.3);

div.view {
  margin: 10px;
}
